md-card {
  display: flex;
}

.aside {
  margin-right: 30px;
}

md-input-container.mat-input-container,
md-select.mat-select {
  max-width: 500px;
  width: 100%;
  margin-bottom: 25px;
}


.main {
  flex-grow: 1;
}
