label {
  width: 220px;
  display: inline-block;
  vertical-align: top;
}

.line {
  padding-bottom: 10px;
}

.label {
  margin-right: 10px;
  display: inline-block;
}

.color {
  display: inline-block;
  width: 16px;
  height: 16px;
}
